body {
  background-color: #5C7080;
  width: 100%;
}

.modal-backdrop {
  z-index: -1;
}

.toolbar {
  background-color: #3c4b58;
  position: fixed;
  top: 55px;
  margin: 10px;
  padding: 5px;
  max-width: 54px;

  /* min-width: calc(50px); */
  /* height: 70%; */
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}


/*
  styl dla paska mediów (chat, rozpoczęcie sesji, przekazanie pulpitu, ipt)
  w prawym dolnym rogu ekranu
*/
.mediabar {
  background-color: #3c4b58;
  position: fixed;
  
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding: 5px;
  max-height: 50px;
  min-height: 50px;
  min-width: 250px;
  /* min-width: calc(50px); */
  /* height: 70%; */
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}


#open_loginform {
  background-color: #3c4b58;
  font-size: 1.1em;
  color: silver;
  text-align: justify;
  margin: 0;
  padding: 6px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#open_loginform:hover {
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid silver;
}
.disable_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  padding: 10px;
}

.student_badge {
  font-size:  26px;
  margin: 5px;
  width:60px; 
  height:60px;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.student_badge:hover {
  box-shadow: inset 0 0 8px rgb(22, 22, 22);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  color: #e5e7eb;
  cursor: arrow;
  text-decoration: none;
}

.student_badge:active {
  box-shadow: inset 0 0 8px rgb(22, 22, 22);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  color: #e5e7eb;
  cursor: arrow;
  text-decoration: none;
}

.toolbutton {
  color: wheat;
  min-width: calc(26px);
  /* min-height: calc(26px); */
  height: inherit;
  background-color: #3c4b58;
  border: solid thin #5C7080;
  border-width: 1px;
  transition: 0.4s all;
  margin: 2px;
}

.toolbutton:hover {
  color: silver !important;

  background-color: #566775;
  border: solid thin #5C7080;
  border-width: 1px;
  transform: scale(1.05);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 8px 1px rgba(10, 10, 10, 0.3);
}

.checked {
  /* transform: scale(1.0); */
  background-color: #566775;
  
  border: solid thin #88949e;
  border-width: 1px;
}

.toolimg {
  max-width: 26px;
  max-height: 26px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
  z-index: 9999;
}


.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #34414b;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  border: 1px solid silver;

  position: absolute;
}


@keyframes tooltip {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

.toolbutton:hover .tooltiptext {
  animation-delay: 1.5s;
  animation-duration: 2.5s;
  animation-name: tooltip;
}

/* .w3-third {
  color: silver;
  position: fixed;
  top: 10px;
  left: 20px;
  right: 20px;
  height: 44px;
} */
/* width: 100%; */

canvas {
  /* position: absolute;
  top: 0px;
  left: 0px;
  width: 3200px;
  height: 100%; */
  margin-left: 0px;
  /* z-index: -1; */
}
.w3-container { 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* flex-grow: 1; */
}
.w3-third, .w3-quarter, .w3-rest {
  color:silver;
  font-weight: lighter;
  
  
  /* position: sticky; */
  min-width: 350px;
  background-color: #3c4b58;
  height: 42px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.w3-row {
  margin: 5px;
}
.right {
  position: fixed;
  margin: 9px;
  right: 25px;
  z-index: 10;
}
.toolbar {
  background-color: #3c4b58;
  position: fixed;
  /* margin: 10px; */
  padding: 5px;
  max-width: 54px;
  /* min-width: calc(50px); */
  /* height: 70%; */
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 709px) {
  .toolbar, .sessionbar {
    top: 130px;
  }
  .w3-third, .w3-quarter, .w3-rest {
    min-width: 100%;
  }
}

@media only screen and (min-width: 710px) {
  .toolbar, .sessionbar {
    top: 100px;
  }
}

@media only screen and (min-width: 1059px) {
  .toolbar, .sessionbar {
    top: 55px;
  }
}
@media only screen and (max-width: 600px) {
  .right {
    right: 25px;
    bottom: 9px;
    }
    #open_loginform {
      font-size: 0;
      max-width: 64px;
    }
  }

.left {
  position: fixed;
  top: 13px;
  left: 25px;
  /* margin: 9px; */
}

button {
  background-color: transparent;
  border: 1px solid #282c34;
  border-radius: 5%;
  padding: 5px;
  margin: 5px;
  color: wheat;
}

audio {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  animation-duration: 2.5s;
  animation-name: tooltip;
  /* visibility: hidden; */
}
.modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li:hover {
  background-color: #88949e;
  color: #282c34;
  cursor: pointer;
}

.audioblock {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
}
button:hover {
  border: 1px solid #71798a;
}

button:active {
  border: 1px solid #e5e7eb;
}


input {
  background-color: transparent;
  border: 1px solid #282c34;
  border-radius: 5%;
  color: silver;
}

input:hover {
  border: 1px solid #71798a;
}

input:active {
  border: 1px solid #e5e7eb;
}

.selected {
  border: 1px solid #71798a;
}

.hidden {
  display: none;
}


.button_menu  {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  height: 32px;
  margin-top: 7px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0 14px;
  overflow: hidden;
  border: 1px solid #71798a;
  border-radius: 6px;
  font: normal 14px/normal "Antic", Helvetica, sans-serif;
  color: rgb(139, 139, 139);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40, 40, 40, 0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  
}

.button_menu:focus {
  outline: silver;
  border: solid thin #dfeaf3;
  color: rgb(214, 212, 212);
  background: rgba(0, 0, 0, 0.4);
  /* border: 2px; */
}

#txt  {
  width: 150px;
}
#color1 {
  /* margin-top: 20px; */
  height: inherit;
}
#color {
  
  height: inherit;
}

#z_plus,#z_minus {
  margin-top: 0px;
}

